body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
}

.big-conteiner{
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/* ----------------------- header ---------------------- */


.main-navigation {
  color: #000000;
  font-weight: 700;
  background-color: #ffffff;
  }

  .main-header ul {
    list-style: none;
  }

  .main-navigation a {
    color: #000000;
  }

.main-navigation a:hover,
.choise-list a h2:hover {
  color: #81b3d2;
}

.main-navigation a:active,
.choise-list a h2:active {
  color: #000000;
  opacity: 0.3;
}

.main-menu {
  height: 57px;
}

/* ----------------------- main ---------------------- */


.background-sedona-text {
  margin-bottom: 120px;
}

.sedona-info {
  width: 100%;
  height: 773px;
  background-image:
  url("../img/png-sedona/white-book.png"),
  url("../img/jpg-sedona/sedona-index/background-welcome.jpg");
  background-position: bottom, center;
  background-repeat: no-repeat;
}

.sedona-info h1 {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-align: center;
  margin-bottom: 40px;
}

.five-reasons {
  color: #333333;
  text-align: center;
  margin-bottom: 55px;
}

.just-reason-list li {
  width: 33%;
}

.reason-item-list h2,
.just-reason-list h2  {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

.reasons-list p,
.just-reason-list p  {
  font-size: 14px;
  line-height: 21px;
}

.interesting {
  overflow: hidden;
}

.interesting h3 {
  margin-top: 53px;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.interesting p {
  margin-bottom: 140px;
}

.search-title {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #766357;
  padding: 30px;
}

.search-title:hover {
  background-color: #604e43;
}

.search-title:active {
  color: #ffffff;
  opacity: 0.3;
  background-color: #503e33;
}

.search label {
  padding-right: 20px;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.search .date-out label {
  padding-right: 16px;
}

.search .grownup label {
  padding-right: 40px;
}

.search .children label {
  padding-right: 14px;
}

.search .date-in input,
.search .date-out input,
.search .grownup input,
.search .children input {
  width: 340px;
  height: 30px;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  outline: none;
}

.search-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  width: 460px;
  height: 60px;
}

.search input:hover {
  background-color: #f2f2f2;
  outline: none;
}

.search input:focus {
  background-color: #ebebeb;
  outline: none;
}


}
/* ---------------------- catalog ---------------------------*/

.main-menu-current {
  color: #766357;
}

.filters {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../img/jpg-sedona/sedona-catalog/catalog-filter-background.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filters ul {
  list-style: none;
  font-weight: 400;
}

.filters fieldset {
  font-weight: 700;
  border: none;
}

/* как сделать прозрачные чекбоксы и галочки? */

.filters input[type="checkbox"],
.filters input[type="checkbox"]:hover {
  color: #ffffff;
  background-color: transparent;
}

.filters input[type="checkbox"]:disabled {
  color: #000000;
  opacity: 0.5;
}

.filters input[type="submit"] {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.filters input[type="submit"]:hover {
  color: #000000;
  background-color: #ffffff;
}

.sort b {
  width: 10%;
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sort .word {
  width: 10%;
}

.sort ul,
.sort .word  {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  line-height: 18px;
}

.sort .sort-current {
  color: #81b3d2;
}

.sort .sort-item {
  color: #000000;
  opacity: 0.3;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
}

.sort .sort-item a:hover {
  color: #81b3d2;
}

.sort .sort-item a:active {
  color: #000000;
  opacity: none;
}

.sort .button-up,
.sort .button-down {
  color: #cacaca;
}

.sort .button-up:hover,
.sort .button-down:hover {
  color: #242021;
}

.sort .button-up:active,
.sort .button-down:active {
  color: #82b3d2;
}

.choise-list ul {
  list-style: none;
}

.choise-list h2 {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.choise {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  outline: none;
}

.choise-item-more {
  width: 110px;
  height: 27px;
  background-color: #81b3d2;
}

.choise-item-more:hover {
  background-color: #669ec0;
}

.choise-item-more:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.choise-item-booking {
  width: 142px;
  height: 27px;
  background-color: #766357;
}

.choise-item-booking:hover {
  background-color: #604e43;
}

.choise-item-booking:active {
  background-color: #503e33;
  color: #857871;
}

/* ----------------------- footer ---------------------- */

.main-footer .visitsedona {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
}

.footer-messengers ul {
  list-style: none;
  text-align: center;
}

.search input[type="submit"],
.messengers-button {
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
}

.search input[type="submit"]:hover,
.messengers-button:hover {
  background-color: #669ec0;
}

.search input[type="submit"]:active,
.messengers-button:active {
  background-color: #5496bd;
  opacity: 0.3;
}

.footer-copyright {
  text-align: right;
  color: #000000;
}


/* ------------------- Сетка ------------------ */

html,
body {
  min-width: 768px;
}

/* ------------------- сетка header -------------------*/

.main-menu {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-menu li {
  width: 20%;
}

.main-menu li:nth-child(3) {
  margin-left: auto;
}


.main-header {
  width: 100%;
  position: relative;
}

.main-logo {
  position: absolute;
  margin-left: -69px;
}

/* ----------------------- сетка main ---------------------- */

.main-wrapper {
  display: flex;
  flex-direction: column;
}

.sedona-info {
  display: flex;
  flex-direction: column-reverse;
}

.reasons-list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.just-reason-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 60px;
  padding-bottom: 85px;
}

.just-reason-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.just-reason-item img {
  order: -1;
  margin-bottom: 10px;
}

.reason-1,
.reason-2 {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.reason-2 {
  width: 100%;
}

.reason-text {
  width: 33%;
  height: 205px;
  padding-top: 45px;
  background-color: #82b3d2;
  color: #ffffff;
}

.pictures {
  width: 67%;
  margin: 0;
  padding: 0;
  display: inline-block;
  height: 250px;
  overflow: hidden;
}

.pictures-2 {
  order: -1;
}

.reason-item-list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding-top: 47px;
  padding-bottom: 62px;
  padding-left: 0;
  display: flex;
  justify-content: space-around;
  background-color: #eeeeee;
}

.search-wrapper {
  position: relative;
}

.search {
  position: absolute;
  background-color: #ffffff;
  z-index: 1;
  margin-top: -840px;
  margin-left: 300px;
}

.search form {
  width: 568px;
  height: 290px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 55px;
}

.search .grownup input,
.search .children input {
  width: 115px;
}

.search .grownup {
  margin-left: 30px;
}

.search .children {
  margin-right: 30px;
  }


/* ----------------------- сетка footer ---------------------- */

.main-footer {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.visitsedona,
.footer-messengers,
.footer-copyright {
  width: 20%;
  margin: 0 auto;
}

.messengers-button {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
}

.footer-messengers ul {
  display: flex;
  width: 150px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

/* ----------------------- Сетка catalog ---------------------- */

.filter {
  min-height: 217px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.filter legend {
  margin: 0;
  padding: 0;
}

.filter ul {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.infrastructure {
  min-width: 240px;
  margin-left: 70px;
}


.type-of-housing {
  min-width: 240px;
  margin-left: 20px;
}

.filter .price {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.sort-wrapper {
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 2px solid #e5e5e5;
}

.sort-wrapper ul {
  width: 565px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.sort-wrapper li {
  width: 15%;
}

.sort-button {
  margin-left: auto;
}

.choise-list ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.choise-item {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 70px;
  border-bottom: 2px solid #e5e5e5;
}

.choise-wrapper {
  margin: 0;
  margin-left: 30px;
  padding: 0;
  height: 100px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.choise-wrapper h2 {
  margin: 0;
}

.choise-wrapper p {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
}

.rating {
  width: 120px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: 70px;
}

.rating-text {
  margin: 0;
  margin-top: 48px;
  display: block;
  width: 110px;
  height: 27px;
  color: #666666;
  background-color: #e5e5e5;
}
